*
!./package.json
!./packages/common/package.json
!./packages/discord-bot/package.json
!./packages/open5e/package.json
!./packages/common/dist
!./packages/discord-bot/dist
!./packages/open5e/dist
!./packages/discord-bot/.env